<div id="sheet2" class="mui-popover mui-popover-bottom mui-popover-action" style="top:0;background-color: #fff;">
		<header class="mui-bar mui-bar-nav" style="background-color: #FFFFFF;border-radius: 0;">
		    <a ng-click="mainWindow('sheet2')" class="mui-icon mui-icon-left-nav mui-pull-left" style="color: #000;"></a>
		    <!--ng-click="jump('/main')"-->
		    <!--不起作用，因为此时页面本身就在main页面上-->
		    <h1 class="mui-title mui-pull-left" style="color: #000;text-align: left;margin-left: 16px;font-weight: normal;">发动态</h1>
		    <span class="mui-pull-right" style="height: 34px;border-radius:3px;background-color: #37BE9D;width: 15%;line-height: 34px;text-align: center;color: #fff;margin-top: 5px;">发布</span>
		</header>
		
		<textarea name="" rows="" cols="" placeholder="即使又是忙碌的一天，也定有醍醐灌顶的时刻" style="border: none;margin-top: 44px;font-size: 16px;"></textarea>
		<div class="mui-bar-footer" style="width: 100%;position: absolute;height:44px;line-height: 44px;border-top: 2px solid rgba(0, 0, 0, .15)">
			尾部
		</div>
		
</div>