<nav class="mui-bar mui-bar-tab mui-background-color">
		    <a class="mui-tab-item mui-active main" ng-click="jump('/main')">
		        <span class="mui-icon iconfont icon-home" style="font-size: 28px;right: 3px;"></span>
		        <span class="mui-tab-label mui-text-align">赤兔</span>
		    </a>
		    <a class="mui-tab-item connection" ng-click="jump('/connection')">
		        <span class="mui-icon iconfont icon-iconfontlvshiquan"></span>
		        <span class="mui-tab-label">人脉</span>
		    </a>
		    <a class="mui-tab-item message" ng-click="jump('/message')">
		        <span class="mui-icon iconfont icon-xiaoxi"></span>
		        <span class="mui-tab-label">消息</span>
		    </a>
		    <a class="mui-tab-item discovery" ng-click="jump('/discovery')">
		        <span class="mui-icon iconfont icon-sousuo"></span>
		        <span class="mui-tab-label">发现</span>
		    </a>
		    <a class="mui-tab-item mine" ng-click="jump('/mine')">
		        <span class="mui-icon iconfont icon-yonghu"></span>
		        <span class="mui-tab-label">我</span>
		    </a>
		</nav>
		