<div class="mui-content">
	<header class="mui-bar mui-bar-nav">
	   	 	<!--<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>-->
	    	<h3 class="mui-text-left mui-title">人脉</h3>
	   	 	<a class="mui-icon icon-jiahao iconfont mui-icon-right-nav mui-pull-right icon-style"></a>
	    	<a class="mui-icon mui-icon-search mui-icon-right-nav mui-pull-right icon-style"></a>	
		</header>
		<div class="mui-content">
	    <ul class="mui-table-view">
		    <li class="mui-table-view-cell mui-media" style="line-height: 42px">
		            <a href="javascript:;">
		                <img class="mui-media-object mui-pull-left" src="" alt="推广图" style="width: 42px;height:42px;border: 1px solid #ECECEC;">
		                <div class="mui-media-body">
		                                                            新的好友
		                    <p class="mui-pull-right">></p>   
		                    <p class="mui-pull-right" style="margin-right: 15px;">2</p>
		                </div>
		            </a>
		        </li> 
		        
		    <li class="mui-table-view-cell mui-media" style="line-height: 42px">
		            <a href="javascript:;">
		                <img class="mui-media-object mui-pull-left" src="" alt="推广图" style="width: 42px;height:42px;border: 1px solid #ECECEC;">
		                <div class="mui-media-body">
		                                                            我的好友
		                    <p class="mui-pull-right">></p>   
		                    <p class="mui-pull-right" style="margin-right: 15px;">2</p>
		                </div>
		            </a>
		        </li> 
		        
		    <li class="mui-table-view-cell mui-media" style="line-height: 42px">
		            <a href="javascript:;">
		                <img class="mui-media-object mui-pull-left" src="" alt="推广图" style="width: 42px;height:42px;border: 1px solid #ECECEC;">
		                <div class="mui-media-body">
		                                                            我的小组
		                    <p class="mui-pull-right">></p>   
		                    <p class="mui-pull-right" style="margin-right: 15px;">发现更多小组</p>
		                </div>
		            </a>
		        </li> 
		        
		    <li class="mui-table-view-cell mui-media" style="line-height: 42px">
		            <a href="javascript:;">
		                <img class="mui-media-object mui-pull-left" src="" alt="推广图" style="width: 42px;height:42px;border: 1px solid #ECECEC;">
		                <div class="mui-media-body">
		                                                            职场大咖
		                    <p class="mui-pull-right">></p>   
		                    <p class="mui-pull-right" style="margin-right: 15px;">2</p>
		                </div>
		            </a>
		        </li> 
  
		</ul> 
		<!--可能感兴趣的人-->	  
		 <p style="padding: 6px 15px 0px;">可能感兴趣的人</p>
		 <ul class="mui-table-view">
		 	<li class="mui-table-view-cell mui-media" style="line-height: 16px;">
		 		<a href="javascript:;">
		            <img class="mui-media-object mui-pull-left" src="" alt="推广图" style="width: 55px;height:55px;border-radius: 50%;border: 1px solid #ECECEC;"> 
		            <div class="mui-media-body" style="font-size:15px;padding-top: 2px;">小明  
		            	 <span style="font-size: 12px;background: #3C7DB1;color: #fff;padding: 0px 4px 1px;">2度</span>
		            	<span class="show-title" style="padding: 7px 12px;
    margin-top: 10px;">加好友</span>
		                <p class="mui-ellipsis" style="font-size: 12px;">58人已参与</p>
		                <p class="mui-ellipsis" style="font-size: 12px;">58人已参与</p>
		            	
		            </div>
		        </a>
		 	</li>
		
		    <li class="mui-table-view-cell mui-media" style="line-height: 16px;">
		 		<a href="javascript:;">
		        <img class="mui-media-object mui-pull-left" src="" alt="推广图" style="width: 55px;height:55px;border-radius: 50%;border: 1px solid #ECECEC;"> 
			        <div class="mui-media-body" style="font-size:15px;padding-top: 2px;">小明  
			        <span style="font-size: 12px;background: #3C7DB1;color: #fff;padding: 0px 4px 1px;">2度</span>
			        <span class="show-title" style="padding: 7px 12px;
	    margin-top: 10px;">加好友</span>
			        <p class="mui-ellipsis" style="font-size: 12px;">58人已参与</p>
			        <p class="mui-ellipsis" style="font-size: 12px;">58人已参与</p>
			            	
			        </div>
		        </a>
		 	</li>
		 </ul>
	    </div>
	    
		<!--<div class="mui-scroll-wrapper">
		<div class="mui-scroll">
			这里放置真实显示的DOM内容
		</div>
		</div>-->
		<nav class="mui-bar mui-bar-tab mui-background-color">
		    <a class="mui-tab-item main" ng-click="jump('/main')">
		        <span class="mui-icon iconfont icon-home" style="font-size: 28px;right: 3px;"></span>
		        <span class="mui-tab-label mui-text-align">赤兔</span>
		    </a>
		    <a class="mui-tab-item mui-active  connection" ng-click="jump('/connection')">
		        <span class="mui-icon iconfont icon-iconfontlvshiquan"></span>
		        <span class="mui-tab-label">人脉</span>
		    </a>
		    <a class="mui-tab-item message" ng-click="jump('/message')">
		        <span class="mui-icon iconfont icon-xiaoxi"></span>
		        <span class="mui-tab-label">消息</span>
		    </a>
		    <a class="mui-tab-item discovery" ng-click="jump('/discovery')">
		        <span class="mui-icon iconfont icon-sousuo"></span>
		        <span class="mui-tab-label">发现</span>
		    </a>
		    <a class="mui-tab-item mine" ng-click="jump('/mine')">
		        <span class="mui-icon iconfont icon-yonghu"></span>
		        <span class="mui-tab-label">我</span>
		    </a>
		</nav>
		
</div>
