<div class="mui-content">
	<header class="mui-bar mui-bar-nav">
	   	 	<!--<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>-->
	    	<h3 class="mui-text-left mui-title">消息</h3>
	   	 	<a class="mui-icon icon-tongzhi iconfont mui-icon-right-nav mui-pull-right icon-style"></a>
	    	<a class="mui-icon mui-icon-search mui-icon-right-nav mui-pull-right icon-style"></a>	
		</header>
		<div class="mui-content">
	        
	        <ul class="mui-table-view" style="margin:0">
		        <li class="mui-table-view-cell mui-media">
		            <a href="javascript:;">
		                <img class="mui-media-object mui-pull-left" src="" alt="推广图" style="width: 55px;height:55px;border: 1px solid #ECECEC;"> 
		                <div class="mui-media-body" style="font-size:15px;color: #6aa8d0;padding-top: 2px;">
		                    #上司可不可
		                    <span class="mui-pull-right">时间</span>
		                    <p class="mui-ellipsis" style="font-size: 14px;">58人已参与</p>
		                </div>
		            </a>
		        </li> 
		        
		        <li class="mui-table-view-cell mui-media">
		            <a href="javascript:;">
		                <img class="mui-media-object mui-pull-left" src="" alt="推广图" style="width: 55px;height:55px;border: 1px solid #ECECEC;"> 
		                <div class="mui-media-body" style="font-size:15px;color: #6aa8d0;padding-top: 2px;">
		                    #上司可不可
		                    <span class="mui-pull-right">时间</span>
		                    <p class="mui-ellipsis" style="font-size: 14px;">58人已参与</p>
		                </div>
		            </a>
		        </li> 
		        
		    </ul>
	        
	    </div>
		<!--<div class="mui-scroll-wrapper">
		<div class="mui-scroll">
			这里放置真实显示的DOM内容
		</div>
		</div>-->
		<nav class="mui-bar mui-bar-tab mui-background-color">
		    <a class="mui-tab-item main" ng-click="jump('/main')">
		        <span class="mui-icon iconfont icon-home" style="font-size: 28px;right: 3px;"></span>
		        <span class="mui-tab-label mui-text-align">赤兔</span>
		    </a>
		    <a class="mui-tab-item connection" ng-click="jump('/connection')">
		        <span class="mui-icon iconfont icon-iconfontlvshiquan"></span>
		        <span class="mui-tab-label">人脉</span>
		    </a>
		    <a class="mui-tab-item message mui-active" ng-click="jump('/message')">
		        <span class="mui-icon iconfont icon-xiaoxi"></span>
		        <span class="mui-tab-label">消息</span>
		    </a>
		    <a class="mui-tab-item discovery" ng-click="jump('/discovery')">
		        <span class="mui-icon iconfont icon-sousuo"></span>
		        <span class="mui-tab-label">发现</span>
		    </a>
		    <a class="mui-tab-item mine" ng-click="jump('/mine')">
		        <span class="mui-icon iconfont icon-yonghu"></span>
		        <span class="mui-tab-label">我</span>
		    </a>
		</nav>
		
</div>
